body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.listing {
  border: 1px solid #ccc;
  margin: 10px;
  width: 300px;
  height: 300px;
}

.listing img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listing .details {
  padding: 10px;
}

.listing .name {
  font-weight: bold;
}

.listing .price {
  color: #888;
}
